@model OSL.Forum.Web.Models.ConfirmEmailModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Confirm Email";
}

@if (!Model.Status)
{
    <div class="card text-center mt-5">
        <div class="card-header text-primary">
            <b>Welcome to OSL Forum Family</b>
        </div>
        <div class="card-body">
            You have successfully verified your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </div>
    </div>
}
else
{
    <div class="card text-center mt-5">
        <div class="card-header text-primary">
            <b>Your Email has already been verified.</b>
        </div>
        <div class="card-body">
            Please @Html.ActionLink("Click here to Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </div>
    </div>
}