@{
    ViewBag.Title = "Reset password confirmation";
}


<div class="card text-center mt-5">
    <div class="card-header text-primary">
        <b>Reset Password</b>
    </div>
    <div class="card-body">
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
</div>