@model OSL.Forum.Web.Models.FavoriteForumModel
@{
    ViewBag.Title = "FavoriteForums";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Favorite Forums</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Favorite Forums</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-primary text-bold">Your Favorite Forums</h3>
            </div>
        </div>
        <div class="row">
            @foreach (var favoriteForum in Model.FavoriteForums)
            {
                <div class="col-6 p-3">
                    <div class="card">
                        <div class="row">
                            <div class="col-8 my-3 pl-4">
                                @Html.ActionLink(favoriteForum.Forum.Name, "Topics", "Topic", new { id = favoriteForum.Forum.Id },
                                    new { @class = "stretched-link" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation example">
                    @if (Model.Pager.EndPage > 1)
                    {
                        <ul class="pagination justify-content-center">
                            @if (Model.Pager.CurrentPage == 1)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/FavoriteForum/FavoriteForums">First</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/FavoriteForum/FavoriteForums?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="~/FavoriteForum/FavoriteForums">First</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="~/FavoriteForum/FavoriteForums?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                </li>
                            }

                            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                            {
                                <li class="@(page == Model.Pager.CurrentPage ? "active" : "") page-link">
                                    <a href="~/FavoriteForum/FavoriteForums?page=@page">@page</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage == Model.Pager.TotalPages)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/FavoriteForum/FavoriteForums?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="~/FavoriteForum/FavoriteForums?page=@(Model.Pager.TotalPages)">Last</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="~/FavoriteForum/FavoriteForums?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="~/FavoriteForum/FavoriteForums?page=@(Model.Pager.TotalPages)">Last</a>
                                </li>
                            }
                        </ul>
                    }
                </nav>
            </div>
        </div>
    </div>
</section>

