@model OSL.Forum.Web.Models.Profile.ProfileDetailsModel
@{
    ViewBag.Title = "MyProfile";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>My Profile</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#"></a></li>
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary shadow p-4 rounded-3">
                    <div class="row">
                        <div class="col-sm-8">
                            <p class="text-uppercase text-bold">
                                <h4>@Model.ApplicationUser.Name</h4>
                            </p>
                            <p>
                                @Model.ApplicationUser.Email
                            </p>
                        </div>
                        <div class="col-sm-4">
                            @Html.ActionLink("Edit", "Edit", "Profile", new { userID = @Model.ApplicationUser.Id },
                                new { @class = "btn btn-primary d-grid gap-2 d-flex float-right mt-4" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>